[defaults]
roles_path = ./ansible-roles
deprecation_warnings = False
# interpreter_python = /usr/bin/python3.11
interpreter_discovery = silent
gathering = smart
fact_caching = memory
# warnings = False
# verbosity = 0

# [ssh_connection]
# pipelining = True
# ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no
# control_path = /tmp/ansible-ssh-%%h-%%p-%%r
